/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require font-awesome
*/
@font-face {
  font-family: 'TisaPro';
  src:font-url('TisaPro.otf');
}
@font-face {
  font-family: 'TisaProMedium';
  src:font-url('TisaPro-Medi.otf');
}

body {
  background-color: #233139;
  font-family: "Tisapro";

}

.topics {
  background-color: white;
}

.login {
  
  label {
    font-family: 'TisaPro';
  }
}
