
// fieldset, label { margin: 0; padding: 0; }
// body{ margin: 20px; }
// h1 { font-size: 1.5em; margin: 10px; }
//
// /****** Style Star score Widget *****/
//
// .score {
//   border: none;
//   float: left;
// }
//
// .score > input { display: none; }
// .score > label:before {
//   margin: 5px;
//   font-size: 1.25em;
//   font-family: FontAwesome;
//   display: inline-block;
//   content: "\f005";
// }
//
// .score > .half:before {
//   content: "\f089";
//   position: absolute;
// }
//
// .score > label {
//   color: #ddd;
//  float: right;
// }
//
// /***** CSS Magic to Highlight Stars on Hover *****/
//
// .score > input:checked ~ label, /* show gold star when clicked */
// .score:not(:checked) > label:hover, /* hover current star */
// .score:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
//
// .score > input:checked + label:hover, /* hover current star when changing score */
// .score > input:checked ~ label:hover,
// .score > label:hover ~ input:checked ~ label, /* lighten current selection */
// .score > input:checked ~ label:hover ~ label { color: #FFED85;  }
//

.interest-form {
  margin-top: 4em;
  margin-bottom: 3em;
}
