.login-btn {
  background-color: #39474e;

    text-decoration: none;
    color: #afb0b1;
    margin-top: 1em;
    margin-bottom: 1em;
}

.github {
  position: relative;
  right: 1em;
  margin-top: 1em;
}
