.navigation {
  font-family: "Tisapromedium";
  background-color: #39474e;
  height: 8em;
  .content {
    position: relative;
    top: 2em;

    a {
      text-decoration: none;
      color: white;
      font-size: 1.5em;
      &:hover {
        background-color: #30373d;
      }

    }

  }
}

.search-field {
  position: relative;
  top: 1px;
  background-color: #30373d;
  border: 0;
  width: 178px;
  height: 30.391px;
  font-size: 18px;
  border-radius: 5px;
  color: white;
}

.search {
  background-color: #478c89;
  color: white;

}

.search-select {
  background-color: #30373d;
  color: white;
  height: 1.8em;
  font-size: 18px;
  border: 0;
}

.logo {
  position: relative;
  bottom: 2em;
}
