.navigation {
  background-color: #39474e;
  height: 8em;
 .content {
   position: relative;
   top: 2em;

   a {
     color: #afb0b1;
     font-size: 1.5em;
   }

 }
}

.search-field {
  position: relative;
  top: 1px;
  background-color: #30373d;
  border: 0;
  width: 10em;
  height: 1.8em;
  font-size: 18px;
  border-radius: 5px;
  color: #afb0b1;
}

.search {
  background-color: #478c89;

}

.search-select {
  background-color: #30373d;
  color: #afb0b1;
  height: 1.8em;
  font-size: 18px;
  border: 0;
}

.logo {
  position: relative;
  bottom: 2em;
}
