.title{
  font-size: 2.5em;
  color: black;
  text-decoration: none;
}

.topic {
  margin-bottom: 4em;
}

.rating-button {
  background-color: #39474e;

    text-decoration: none;
    color: #afb0b1;
}

.topic-button {
  background-color: #39474e;

    text-decoration: none;
    color: #afb0b1;
}

.interest-button {
  position: relative;
  right: 1em;
}

// .stars, span.stars span {
//     display: block;
//     background: url(\stars.png) 0 -16px repeat-x;
//     width: 80px;
//     height: 16px;
// }
//
// .stars span {
//     background-position: 0 0;
// }
