.title{
  font-size: 2.5em;
  color: black;
  text-decoration: none;
  font-family: "TisaproMedium";
}

.topic {
  margin-bottom: 4em;
}

.rating-button {
  background-color: #39474e;
  text-decoration: none;
  color: #afb0b1;
  &:visited {
    color: #afb0b1;
  }
}

.topic-button {
  background-color: #39474e;

  text-decoration: none;
  color: #afb0b1;
}

.interest-button {
  position: relative;
  right: 1em;
  background-color: #39474e;
  text-decoration: none;
  color: #afb0b1;
  &:hover {
    color: #afb0b1;
  }
}
